* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.app {
  width: 100%;
  padding: 24px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
