* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.app {
  padding: 24px;
}

.full-width {
  width: 100%;
}

.no-margin {
  margin: 0 !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
